<head>
    <%- include('../common/head') %>

        <%- include('../common/homestyle') %>

            <script src="https://d3js.org/d3.v7.min.js"></script>
</head>

<header>
    <%- include('../common/header', { links: navbar.links }) %>
</header>




<a href="/admin" color="red" class="btn btn-primary">Back to admin page</a>
<br><br>


<div id="graph-container" data-totalSumOfContactJanuary="<%= totalSumOfContactJanuary  %>" ,
    data-totalSumOfContactFebruary="<%= totalSumOfContactFebruary   %>" ,
    data-totalSumOfContactMarch="<%= totalSumOfContactMarch   %>" ,
    data-totalSumOfContactApril="<%= totalSumOfContactApril   %>" ,
    data-totalSumOfContactMay="<%= totalSumOfContactMay   %>" ,
    data-totalSumOfContactJune="<%= totalSumOfContactJune   %>" ,
    data-totalSumOfContactJuly="<%= totalSumOfContactJuly   %>" ,
    data-totalSumOfContactAugust="<%= totalSumOfContactAugust   %>" ,
    data-totalSumOfContactSeptember="<%= totalSumOfContactSeptember   %>" ,
    data-totalSumOfContactOctober="<%= totalSumOfContactOctober   %>" ,
    data-totalSumOfContactNovember="<%= totalSumOfContactNovember   %>" ,
    data-totalSumOfContactDecember="<%= totalSumOfContactDecember   %>" ,
    data-totalOfAllContactSofar="<%= totalOfAllContactSofar   %>">
</div>



<p class="UpperP">The number of total contacts so far: <%= totalOfAllContactSofar %>
</p>

<div id="graph-bar"></div>
<svg id="graph" width="850" height="400"></svg>

<script>
    const totalSum1 = parseFloat(document.getElementById('graph-container').getAttribute('data-totalSumOfContactJanuary'));
    const totalSum2 = parseFloat(document.getElementById('graph-container').getAttribute('data-totalSumOfContactFebruary'));
    const totalSum3 = parseFloat(document.getElementById('graph-container').getAttribute('data-totalSumOfContactMarch'));
    const totalSum4 = parseFloat(document.getElementById('graph-container').getAttribute('data-totalSumOfContactApril'));
    const totalSum5 = parseFloat(document.getElementById('graph-container').getAttribute('data-totalSumOfContactMay'));
    const totalSum6 = parseFloat(document.getElementById('graph-container').getAttribute('data-totalSumOfContactJune'));
    const totalSum7 = parseFloat(document.getElementById('graph-container').getAttribute('data-totalSumOfContactJuly'));
    const totalSum8 = parseFloat(document.getElementById('graph-container').getAttribute('data-totalSumOfContactAugust'));
    const totalSum9 = parseFloat(document.getElementById('graph-container').getAttribute('data-totalSumOfContactSeptember'));
    const totalSum10 = parseFloat(document.getElementById('graph-container').getAttribute('data-totalSumOfContactOctober'));
    const totalSum11 = parseFloat(document.getElementById('graph-container').getAttribute('data-totalSumOfContactNovember'));
    const totalSum12 = parseFloat(document.getElementById('graph-container').getAttribute('data-totalSumOfContactDecember'));



    const totalOfAll = totalSum1 + totalSum2 + totalSum3 + totalSum4 + totalSum5 + totalSum6 + totalSum7 +
        totalSum8 + totalSum9 + totalSum10 + totalSum11 + totalSum12;


    const maxSum = totalOfAll;

    const progressPercentage1 = (totalSum1 / maxSum) * 100;
    const progressPercentage2 = (totalSum2 / maxSum) * 100;
    const progressPercentage3 = (totalSum3 / maxSum) * 100;
    const progressPercentage4 = (totalSum4 / maxSum) * 100;
    const progressPercentage5 = (totalSum5 / maxSum) * 100;
    const progressPercentage6 = (totalSum6 / maxSum) * 100;
    const progressPercentage7 = (totalSum7 / maxSum) * 100;
    const progressPercentage8 = (totalSum8 / maxSum) * 100;
    const progressPercentage9 = (totalSum9 / maxSum) * 100;
    const progressPercentage10 = (totalSum10 / maxSum) * 100;
    const progressPercentage11 = (totalSum11 / maxSum) * 100;
    const progressPercentage12 = (totalSum12 / maxSum) * 100;
    const progressPercentageOfAll = (totalOfAll / maxSum) * 100;


    document.getElementById('graph-bar').style.width = progressPercentage1 + '%';
    document.getElementById('graph-bar').style.width = progressPercentage2 + '%';
    document.getElementById('graph-bar').style.width = progressPercentage3 + '%';
    document.getElementById('graph-bar').style.width = progressPercentage4 + '%';
    document.getElementById('graph-bar').style.width = progressPercentage5 + '%';
    document.getElementById('graph-bar').style.width = progressPercentage6 + '%';
    document.getElementById('graph-bar').style.width = progressPercentage7 + '%';
    document.getElementById('graph-bar').style.width = progressPercentage8 + '%';
    document.getElementById('graph-bar').style.width = progressPercentage9 + '%';
    document.getElementById('graph-bar').style.width = progressPercentage10 + '%';
    document.getElementById('graph-bar').style.width = progressPercentage11 + '%';
    document.getElementById('graph-bar').style.width = progressPercentage12 + '%';
    document.getElementById('graph-bar').style.width = progressPercentageOfAll + '%';

    const data = [
        { name: 'January', value: totalSum1 },
        { name: 'February', value: totalSum2 },
        { name: 'March', value: totalSum3 },
        { name: 'April', value: totalSum4 },
        { name: 'May', value: totalSum5 },
        { name: 'june', value: totalSum6 },
        { name: 'July', value: totalSum7 },
        { name: 'August', value: totalSum8 },
        { name: 'September', value: totalSum9 },
        { name: 'October', value: totalSum10 },
        { name: 'November', value: totalSum11 },
        { name: 'December', value: totalSum12 },

        { name: 'All so far', value: totalOfAll }

    ];

    const svg2 = d3.select('#graph');
    const margin = { top: 20, right: 20, bottom: 30, left: 40 };
    const width = +svg2.attr('width') - margin.left - margin.right;
    const height = +svg2.attr('height') - margin.top - margin.bottom;

    const x = d3.scaleBand()
        .rangeRound([0, width])
        .padding(0.1);

    const y = d3.scaleLinear()
        .rangeRound([height, 0]);

    const g = svg2.append('g')
        .attr('transform', `translate(${margin.left},${margin.top})`);

    x.domain(data.map(d => d.name));
    y.domain([0, d3.max(data, d => d.value)]);

    g.selectAll('.bar')
        .data(data)
        .enter().append('rect')
        .attr('class', 'bar')
        .attr('x', d => x(d.name))
        .attr('y', d => y(d.value))
        .attr('width', x.bandwidth())
        .attr('height', d => height - y(d.value));

    g.append('g')
        .attr('transform', `translate(0,${height})`)
        .call(d3.axisBottom(x));

    g.append('g')
        .call(d3.axisLeft(y))
        .append('text')
        .attr('fill', '#000')
        .attr('transform', 'rotate(-90)')
        .attr('y', 6)
        .attr('dy', '0.71em')
        .attr('text-anchor', 'end')
        .text('Total');
</script>

<br><br>

<footer>
    <%- include('../common/footer') %>
</footer>